
.services .wrapper .content h2{
    margin: 10px 5px;
    line-height: 1.8;
    font-weight: 400;
    text-align: justify;
    border: 1px solid #f1f1f1;
    max-width: fit-content;
    padding: 0 15px;
    border-radius: 50px;
    float: left;
}